
.gradient-background {
    background: linear-gradient(300deg, #1b8f0c, #2964a8, #311e77);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



.shadow-sm:hover {
    background-color: #311e77;
    opacity: 0.9;
    transition: 0.8s;
    color: black;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
  }


h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}
h2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}





@media (min-width: 319px) and (max-width: 480px) {
    h1, h2, h3 {
      color: purple;
    } 
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 14px;
    }

    p {
        font-size: 14px;
        
    }
    .movie {
        height: 175px;
        width: 125px;
    }

  }

  @media (min-width: 481px) and (max-width: 1200px) {
    h1, h2, h3 {
      color: blueviolet;
    }
    h1 {
        font-size: 45px;
      }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 20px;
    }
  }

  @media (min-width: 1201px) and (max-width: 1600px) {
    h1, h2, h3 {
      color: rgb(179, 27, 199);
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 25px;
    }
    .movie {
        height: 375px;
        width: 250px;
    }
    p{
        font-size: 22px;
    }

  }

  @media (min-width: 1601px) {
    h1, h2, h3, href {
      color: blue;
    }
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    .movie {
        height: 475px;
        width: 300px;
    }
  }

  .birthday {
    width: 45%;
  }

#red {
    color: red;
}
#blue {
    color: blue
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
.color-title {
    font-weight: normal;
}

